.home-brand {
  color: $main-text;
  font-size: 5em;
  transform: translate(-60px, 0px);

}

#small-brand {
  display: none;
}

.brand-line {
  font-size: .8em;
  padding:0;
  transform: translate(-55px, -5px);
  @media (min-width: $tablet-breakpoint){
    font-size: .9em;
  }
}

.logo {
    max-height: 300px;

  }
