.home-brand {
  color: $main-text;
  font-size: 3.5em;
  transform: translate(-35px, -10px);
  @media (min-width: $tablet-breakpoint){
    transform: translate(-50px, 0px);
    font-size: 4em;
  }
  @media (min-width: $desktop-breakpoint){
    transform: translate(-50px, -5px);
    font-size: 5em;
  }
}

#small-brand {
  display: none;
}

.brand-line {
  width: 300px;
  font-size: .8em;
  padding:0;
  transform: translate(-70px, -10px);
  @media (min-width: $tablet-breakpoint){
    transform: translate(-45px, -5px);
    font-size: .9em;
  }
  @media (min-width: $desktop-breakpoint){
    transform: translate(-45px, -10px);
    width: 350px;
    font-size: 1.1em;
  }
}

.logo {
  max-height: 200px;

  @media (min-width: $tablet-breakpoint){
    max-height: 250px;
  }

  @media (min-width: $desktop-breakpoint){
    max-height: 300px;
  }
}

.logo-sm {
  position: relative;
  top: -45px;
  left: 260px;
  max-height: 100px;

  @media (min-width: $tablet-breakpoint){
    top: -35px;
    left: 270px;
  }
}
