#grad {

}

body {
  background: $main-bg;
  font-family: 'Karla', sans-serif;
  color: $main-text;

  h1 {
    color: #244751;
  }
}

a {
    color: #fff;
  }

a:hover {
    color: $main-dark;
  }

.btn-nofill {
  color: $main-light;
  font-size: 1em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: solid $main-light 4px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor:pointer;
  overflow: hidden;

  @media (min-width: $tablet-breakpoint){
    font-size: 1.5em;
  }

  @media (min-width: $desktop-breakpoint){
    font-size: 2em;
  }

}

.no-wrap{
  display: flex;
  flex-wrap: nowrap;
}

.app-wrap {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  @media (min-width: $desktop-breakpoint){
    padding: 0px;
  }
}

.btn-nofill:hover {
  color: #fff;
  border: solid #fff 4px;
  text-decoration: none;
}

.btn-nofill:active {
  color: $main-dark;
  border: solid $main-dark 4px;
}
.btn-nofill:focus {
  outline: 0;
}
.btn-center {
  margin: 0 auto;
}
