#no-results, #no-results-admin {
  font-size: 1.5em;


  @media (min-width: $tablet-breakpoint){
    font-size: 2em;
  }

  @media (min-width: $desktop-breakpoint){
    font-size: 2.5em;
  }
}


#no-results-info {
  font-size: .8em;
}


#display-results, #display-results-admin {
  display:none;
}


#display-results ul, #display-results-admin ul {
  list-style: none;
  font-size: 2em;
}
