#no-results, #no-results-admin, #poll-ended {
  font-size: .9em;
  line-height: 1.5em;


  @media (min-width: $tablet-breakpoint){
    font-size: 1em;
  }

  @media (min-width: $desktop-breakpoint){
    font-size: 1.3em;
  }
}



#poll-ended .row {
  font-size: 1.5em;
  color: $main-light;
    @media (min-width: $tablet-breakpoint){
    font-size: 1.4em;
  }
}


#display-results, #display-results-admin {
  display:none;
}

h2.poll-question {
  font-size: 1.9em;
  padding: 20px 0;

  @media (min-width: $tablet-breakpoint){
    font-size: 2.3em;
  }
}


#display-results ul, #display-results-admin ul, #poll-ended ul {
  list-style: none;
  font-size: 1.8em;
}
