#home-view, #not-found {
  padding: 150px 0 0 0;
}

#create-view, #send-view, #vote-view, #admin-view, #poll-ended {
  padding: 100px 0 0 0;
}

#home-view, #create-view, #send-view,
#vote-view, #admin-view, #poll-ended {
  display:none;
}

#not-found, #no-results-admin {
  color: $main-light;
  font-size: 1.2em;

  h2, div>i {
    color: $main-text;
  }

  @media (min-width: $tablet-breakpoint){
    font-size: 1.5em;
  }
  @media (min-width: $desktop-breakpoint){
    font-size: 2em;
  }
}


.list-choice {
  position: relative;
  left: 20px;
  display: inline-block;
}

.list-description {
  position: relative;
  top: -10px;
  left: 50px;
  color: $main-light;
  font-size: 0.75em;
}


